<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.far.nowaste">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoWaste">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapsApiKey}" />

        <activity android:name=".AssistenzaActivity" />
        <activity
            android:name=".TabTicketActivity"
            android:label="@string/title_activity_tab_ticket" />
        <activity android:name=".NewReportActivity" />
        <activity android:name=".ListaEventiActivity"/>
        <activity android:name=".NewEventActivity" />
        <activity android:name=".NewTicketActivity" />
        <activity android:name=".TicketChatActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ListaSearchActivity" />
        <activity android:name=".DetailRifiutoActivity" />
        <activity android:name=".ListaCardActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>